# ===== Python =====
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ===== Virtual env =====
.venv/
venv/

# ===== PyInstaller =====
build/
dist/
*_internal/
*.spec

# ===== Editor/OS =====
.vscode/
.idea/
Thumbs.db
.DS_Store

# ===== Pastas do projeto (se você quiser ignorar) =====
Legado/
RAWS/


config.json

raw.txt